.container {
    height: 85%;
    
}

i {
    padding-right: .6rem;
}

.side {
    width: 10%;
    background-color:rgb(192, 194, 204);
}

mat-nav-list {
    justify-content: center;
    
}

.nav {
    width: 50%;
}